 .wd-icon {
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    background-color: white !important;
border-right:0px;
}

.wd-ImageWrapper{
display:flex;
}

.boxContainer .card img {
    width: 100px;
    margin:10px;
    border-radius:20px;

  }

.wd-searchBar {
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    background-color: white !important;
    color: darkgray !important;
    border-left:0px;
    }

.wd-FollowButton{
border-radius:40px;
height:20px;
padding-bottom:30px;
}


.wd-userTag{
font-size:13px;
margin-bottom:0px;
}

.wd-contentFont{
padding-left:0px;
font-weight:bold;
font-size:13px;
padding-top:0px;
}

.wd-button{
border-radius:50px;
}

.wd-photoContent{
position:relative;
top:-70px;
color:#696463;
font-weight:bold;

}

.wd-centreFont{
padding-left:0px;
font-weight:bold;
font-size:14px;
padding-top:0px;
margin-bottom:4px;
margin-top:4px;
}

.wd-Time{
font-weight:450;
font-size:14px;
color:#696463;
margin-bottom:0px;
}

.wd-Bottom{
font-weight:450;
font-size:14px;
color:#696463;
margin-top:0px;
}



.wd-navBar{
margin-right:0px;
}




 .boxContainer .card{
 flex-direction:row;
 }

 .boxContainer{
 margin-left:-12px;
 }